.main-download{display:flex;align-items:flex-start;gap:48px;margin-top:48px}
.main-download-links{display:flex;flex-direction:column;gap:24px}
.main-download-links-buttons{display:flex;flex-direction:row;gap:12px}
.main-download-links .btn-download{width:100%}
.main-download-links .btn-whats-new{width:min-content;text-wrap:nowrap;background-color:#818181a8;color:var(--primary-color-text-title);box-sizing:border-box}
.main-download-links .download-3{text-align:left;color:#ffffffd6;text-shadow:0 0 10px #000;font-weight:300;font-size:15px}
.main-download-links .download-3 a{color:inherit;text-decoration-color:inherit;text-decoration-thickness:1px}
.main-download-links .download-3 a:hover{color:#fff}@media(max-width:900px){
    .main-download{align-items:center;flex-direction:column;gap:36px}
    .main-download-links-buttons{flex-direction:column;align-items:center}
    .main-download-links .download-3{text-align:center}
    .main-download-links .btn-download,
    .main-download-links .btn-whats-new{width:100%}}
#donations{background-color:var(--dark-color);color:var(--dark-color-text);overflow:auto;text-align:center}
#donations h1,#donations h2,#donations h3{color:var(--dark-color-text-title)}
.feature-link{text-decoration:none}
.features-grid{display:grid;grid-template-columns:1fr 1fr 1fr;gap:20px}
.feature:hover{transform:translateY(-2px)}
.features-row>:first-child,.split-row>:first-child{margin-right:8px}
.features-row>:last-child,.split-row>:last-child{margin-left:8px}
.feature img{display:block;width:100%;height:auto;position:relative;background-color:#607080;aspect-ratio:3/2;object-fit:cover;object-position:top center}
.feature{position:relative;overflow:hidden;transition:transform 200ms ease-in-out;height:100%;border-radius:8px}
.feature.dark{background-color:var(--transparent-cover-darker)}
.feature h4{margin-bottom:10px}
.feature p{margin:0}
.feature .body{padding:24px}
.feature .dark h4{color:var(--dark-color-text-title)}
.features-learn-more{display:flex;align-items:center;justify-content:center;margin-top:16px}
.img-auto-size{width:100%;height:auto}
.btn.btn-flat.btn-hero-learn-more{margin:0}@media(max-width:900px){
    .features-grid{grid-template-columns:1fr}
    #highlight .highlight-cover{border-radius:4px 4px 0 0}
    #highlight .highlight-details{border-radius:0}}
.news-list .button-container{text-align:right}@media(max-width:768px){
.news-list .button-container{text-align:left}}